:-moz-selection {
    background: var(--branco);
    color: var(--preto);
}
::selection {
    background: var(--branco);
    color: var(--preto);
}

footer {
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
}

body{
    background-color: var(--cinza);
    color: var(--cinza-claro);
}

.navbar{
    background-color: var(--cinza-claro);
}

.navbar-brand{
    color: var(--cinza-claro);
    background-color: var(--cinza);
}

.navbar-brand:hover{
    color: var(--branco);
}

.nav-link, .nav-link:active, .nav-link:focus{
    font-size: 1rem;
    color: var(--preto);
}

.nav-link:hover, .dropdown .show{
    color: var(--roxo) !important;
}

.nav-item .active{
    color: var(--roxo) !important;
    font-weight: 700;
}

#hamburger{
    color: var(--preto);
}

.paleta{
    border: 2px solid var(--cinza-claro);
    border-radius: 25px;
}

.cor{
    border-color: var(--cinza-escuro) !important;
}